<!--以下の内容はapplication.erbのbodyタグの中に代入される-->

<!--provideを用いてtitleの重複を防ぐ-->
<% provide(:title, "Contact") %>
<h1>こんたくと</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>